server:
  port: 8081

spring:
  application:
    name: its-users

  data:
    mongodb:
      uri: mongodb://foo:bar@103.140.249.159:27017/its?authSource=admin

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info

jwt:
  secret: your-secret-key-should-be-at-least-256-bits-long-for-hmac-sha-256-algorithm-please-change-this-in-production
  expiration: 86400000 # 24 hours in milliseconds (Long type)
