server:
  port: 8083

spring:
  application:
    name: its-learning-management

  datasource:
    url: jdbc:postgresql://localhost:5432/its
    username: tuanemtramtinh
    password: tuanemtramtinh
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate.format_sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

management:
  endpoints:
    web:
      exposure:
        include: health,info
