server:
  port: 8082

spring:
  application:
    name: its-learning-management

  data:
    mongodb:
      uri: mongodb://foo:bar@103.140.249.159:27017/its?authSource=admin

  # Import shared JWT configuration from its-common module
  config:
    import: classpath:application-jwt.yml

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info
