server:
  port: 8080

spring:
  application:
    name: its-gateway

  # Import shared JWT configuration from its-common module
  config:
    import: classpath:application-jwt.yml

  cloud:
    gateway:
      server:
        webflux:
          globalcors:
            cors-configurations:
            "[/**]": # Applies to all paths
              allowedOrigins: "*"
              allowedMethods: GET, POST, PUT, DELETE, OPTIONS
              allowedHeaders: "*"
              allowCredentials: true
          routes:
            - id: learning-management-service
              uri: lb://its-learning-management
              predicates:
                - Path=/learning-management/**
              filters:
                - StripPrefix=1
            - id: user-services
              uri: lb://its-users
              predicates:
                - Path=/users/**
              filters:
                - StripPrefix=1
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: ${EUREKA_DEFAULT_ZONE:http://localhost:8761/eureka/}

management:
  endpoints:
    web:
      exposure:
        include: health,info,gateway
