name: Docker Build and Push

on:
  push:
    branches:
      - main # Hoặc branch mà bạn muốn chạy CI/CD
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"
          cache: "maven"

      - name: Clean and Package with Maven
        run: mvn clean package --no-transfer-progress -B

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Executing remote ssh commands using password
        uses: appleboy/ssh-action@v1.2.0
        with:
          host: ${{ secrets.HOST_PRODUCTION }}
          username: ${{ secrets.USERNAME_PRODUCTION }}
          password: ${{ secrets.PASSWORD_PRODUCTION }}
          port: ${{ secrets.PORT_PRODUCTION }}
          script: |
            cd its-be/
            docker compose down
            git fetch --all
            git reset --hard origin/main
            ./mvnw clean package --no-transfer-progress -B -DskipTests
            docker compose build
            docker compose up -d
